
.container{
  border: #3388cd !important;
}
.side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: 25vw;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 5;
}


.price-header {
  font-size: 1.3em;
  margin-bottom: 1vh;
  width: 80%;
  align-self: center;
}


.price-range-slider {
  display: flex;
  width: 80%;
  margin: 0 20px 0 20px;
  align-self: center;
  --mdc-slider-handle-color: #3388cd;
  --mdc-slider-active-track-color:#3388cd;
} 
.filters-header {
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;

}

.filters-header img {
  margin-right: 10px;
  justify-self: start;
}

.filters-header img:hover {
  cursor: pointer;
}

.filters-header span {
  margin-right: 10px;
  justify-self: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.filters-div {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: column;
}

.filter-panel {
  border: none;
  box-shadow: none !important;
}

::ng-deep .mat-mdc-checkbox.mat-primary{
  --mdc-checkbox-selected-hover-icon-color:#3388cd ;
  --mdc-checkbox-selected-icon-color:#3388cd;
  --mdc-checkbox-selected-pressed-icon-color:#3388cd;
  --mdc-checkbox-selected-focus-icon-color:#3388cd;

}

.filter-expansion-header {
  height: 10vh;
}

.filter-expansion-header:hover {
  background-color: white !important;
}

.filter-expansion-title {
  font-size: 1.3em;
  height: 10vh;
  
}

hr {
  margin: 10px;
}


.wrapper{
  width: 73vw;
  margin-left: 25vw;
}


.search-island{
  height: 15vh;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  width:inherit;
  top: 0;
  right: 0;
}

.input-field{
  display: flex;
  justify-content: center;
  width: 15vw;
  margin-top: 0 5px 0 5px;
}

.search-island-input{
  border: none;
  border-bottom:#3388cd 2px solid;
  padding: 5px;
  height: 5vh;
  display: flex;
  font-size: 1rem;
  outline: none;
}

#location-select{
  width: 20%;
}


#apply-btn{
  border: none;
  height: 7vh;
  padding: 5px;
  width: 15%;
  background-color: #3388cd;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
}

#apply-btn:hover{
  cursor: pointer;
}


.cards-wrapper {
  display: flex;
  margin: 2%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15vh;
}

.card {
  margin: 15px;
  width: 325px;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img {
  width: inherit;
  border-radius: 25px 25px 0 0;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-size: 1.5rem;
}

.card-year {
  font-size: 1rem;
  width: 50px;
  border-radius: 25px;
  border: 1px #3388cd dashed;
  padding: 5px;
  text-align: center;
}
.card-info-wrapper {
  margin: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-info img{
  fill: #3388cd !important;
}

hr {
  margin: 5px;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.card-price {
  font-size: 1.2rem;
}

.card-price span {
  font-size: 1.5rem;
}

.card-btn {
  border: none;
  height: 5vh;
  padding: 8px;
  background-color: #3388cd;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 100px 0px;
}
.card-btn:hover {
  cursor: pointer;
}
