<div class="wrapper">
  <div class="header">
    <H1>Featured cars</H1>
    <a [routerLink]="['/explore']" >view all <img src="assets/arrow-right.svg"></a>
  </div>
  <div class="cards-wrapper">
    <div class="card">
      <img class="card-img" src="assets/bmw-3-series.jpg" alt="" />
      <div class="card-body">
        <div class="card-header">
          <div class="card-title">Bmw 3 series</div>
          <div class="card-year">2021</div>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info"><img src="assets/group.svg" alt="">4 people</div>
          <div class="card-info"><img src="assets/fuel.svg" alt="">Diesel</div>
          <div class="card-info"><img src="assets/transmission.svg" alt="">Automatic</div>
          <div class="card-info"><img src="assets/fan.svg" alt="">yes</div>
        </div>
        <hr>
        <div class="card-action">
          <span class="card-price"><span>75DT </span>/ Day</span>
          <button class="card-btn">Rent now</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="assets/bmw-3-series.jpg" alt="" />
      <div class="card-body">
        <div class="card-header">
          <div class="card-title">Bmw 3 series</div>
          <div class="card-year">2021</div>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info"><img src="assets/group.svg" alt=""> 4 people</div>
          <div class="card-info"><img src="assets/fuel.svg" alt="">Diesel</div>
          <div class="card-info"><img src="assets/transmission.svg" alt="">Automatic</div>
          <div class="card-info"><img src="assets/fan.svg" alt="">yes</div>
        </div>
        <hr>
        <div class="card-action">
          <span class="card-price"><span>75DT </span>/ Day</span>
          <button class="card-btn">Rent now</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="assets/bmw-3-series.jpg" alt="" />
      <div class="card-body">
        <div class="card-header">
          <div class="card-title">Bmw 3 series</div>
          <div class="card-year">2021</div>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info"><img src="assets/group.svg" alt=""> 4 people</div>
          <div class="card-info"><img src="assets/fuel.svg" alt="">Diesel</div>
          <div class="card-info"><img src="assets/transmission.svg" alt="">Automatic</div>
          <div class="card-info"><img src="assets/fan.svg" alt="">yes</div>
        </div>
        <hr>
        <div class="card-action">
          <span class="card-price"><span>75DT </span>/ Day</span>
          <button class="card-btn">Rent now</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="assets/bmw-3-series.jpg" alt="" />
      <div class="card-body">
        <div class="card-header">
          <div class="card-title">Bmw 3 series</div>
          <div class="card-year">2021</div>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info"><img src="assets/group.svg" alt=""> 4 people</div>
          <div class="card-info"><img src="assets/fuel.svg" alt="">Diesel</div>
          <div class="card-info"><img src="assets/transmission.svg" alt="">Automatic</div>
          <div class="card-info"><img src="assets/fan.svg" alt="">yes</div>
        </div>
        <hr>
        <div class="card-action">
          <span class="card-price"><span>75DT </span>/ Day</span>
          <button class="card-btn">Rent now</button>
        </div>
      </div>
    </div>

    


    
  </div>
</div>
